<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <title>Antwort auf Ja/Nein-Frage verbucht</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/umfrage-stil.css"/>
</head>
<body>

    <h1>Ihre Antwort wurde verbucht</h1>

    <p>
        <span class="fett">Frage:</span>
        <span th:text="${frage.getFragetext()}"></span>
    </p>

    <p>
        <span class="fett">Ihre Antwort:</span>
        <span th:text="${istJa} ? 'Ja' : 'Nein'"></span>
    </p>
    <br>

    <p>
        Sie können dieses Browser-Fenster jetzt schließen oder 
        <a th:href="'/jn/auswertung/' + ${frage.getId()}">hier</a>
        den aktuellen Stand der Umfrage sehen.
    </p>

</body>
</html>


