<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <title th:text="'Ja/Nein-Frage: ' + ${frage.getFragetext()}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/umfrage-stil.css"/>
</head>
<body>

    <h1 th:text="'Ja/Nein-Frage: ' + ${frage.getFragetext()}"></h1>

    <p><a th:href="'/jn/' + ${frage.getId()} + '/ja'"  >Ja</a></p>
    <p><a th:href="'/jn/' + ${frage.getId()} + '/nein'">Nein</a></p>

</body>
</html>


