<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <title th:text="'SC-Frage: ' + ${frage.getFragetext()}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/umfrage-stil.css"/>
</head>
<body>

    <h1 th:text="${frage.getFragetext()}"></h1>

    <ol>
        <!-- Die ersten beiden Fragen sind auf jeden Fall gesetzt -->
        <li><a href="/sc/antwort/1" th:text="${frage.getAntwort1text()}"></a></li>
        <li><a href="/sc/antwort/2" th:text="${frage.getAntwort2text()}"></a></li>

        <!-- Fragen 3+4 sind optional -->
        <li th:if="${frage.getAntwort3text().length() > 0}">
            <a href="/sc/antwort/3" th:text="${frage.getAntwort3text()}"></a>
        </li>
        <li th:if="${frage.getAntwort4text().length() > 0}">
            <a href="/sc/antwort/4" th:text="${frage.getAntwort4text()}"></a>
        </li>
    </ol>

</body>
</html>


